@charset "utf-8";
/*モバイルファースト*/
body{
  -webkit-appearance:none;  /*iPhoneのデフォルトの設定を解除*/
  -webkit-text-size-adjust: 100%;
  margin:0;
  background: #000;
  font-family:sans-serif;
  text-align: center;
  color: #fff;
}
header{
  background: #000;
  display: flex;
  width:100%;
  position: fixed;
  top:0px;
  z-index: 1;
}
header > a > img{
  block-size: 40px; /*GoogleFontの規定値を変更*/
  width:auto;
}

#phone_menu{
  color:#fff;
  font-size: 20px;
  line-height:30px;
  block-size: 30px;
  padding:0 5px;
  margin-top:3px;
  margin-right: 10px;
  margin-left:auto;
  cursor: pointer;
  border:1px solid #fff;
  border-radius: 5px;
}
#phone_menu.selected{
  color:#000;
  background-color: #fff;
}
.overlay{
  position:fixed;
  top:40px;
  width:100px;
  right: 10px;
  z-index: 2;
  background-color: #000;
  opacity:0;
  pointer-events:none;
  border-radius: 5px;
}
.overlay.show{
  opacity:1;
  pointer-events: auto;
}
.overlay ul{  /*ulに付いてる点とマージンを消す*/
  list-style-type:none;
  margin: 0;
  padding:0;
  border-radius: 5px;
  border:solid 1px #fff;
}
.overlay ul li{
  padding:8px;
  text-align: center;
  border-radius: 5px;
}
.overlay ul li a{
  font-family: serif;
  color:#fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
section.title{
  width:100%;
  height:100vh;   /*縦100％*/
}
.title img{
  position: absolute;
  top:32%;
  right: 0;
  left:0;
  margin:0 auto;
  z-index:1;
  width: 60%;
  height: auto;
  animation:fade_in 5s;
}
@keyframes fade_in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
img{  /*カフェとたい焼きセットの画像*/
  display:block;
  width: 100%;
  height: auto;
}
.welcome .text{
  width:100%;
  background-color: #fff;
  color: #000;
  border-bottom: solid 20px #000;
}
 h1{
  font-size: 24px;
  padding: 20px;
  font-family:serif;
}
.welcome h1{
 font-family:sans-serif;
}
 p{
  font-size: 18px;
  padding: 10px;
}
.welcome p{
  text-align: left;
}
.Foods .text{
  width:100%;
  background-color:#fff;
  color: #000;
  border-bottom: solid 10px #fff;
}
.Foods img{
  border-top:solid 20px #000;
}
fieldset{
  padding: 0;
  border-radius: 5px;
  border:solid 2px #000;
  margin:0 10px 20px;
}
fieldset legend{
  padding:10px;
  font-size: 20px;
}
fieldset ul{
  list-style-type: none;
  padding: 0;
  margin:0 0 10px;
}
fieldset ul li{
  font-size: 18px;
  padding: 0;
  margin-bottom: 30px;
}
.access .text{
  width:100%;
  background-color: #fff;
  color: #000;
}
.access > p > span{
  block-size: 24px;
  line-height: 24px;
  vertical-align: bottom;
}
iframe.map{
  width:100%;
  height:90vw;   /*正方形にする*/
  vertical-align: bottom; /*iframeはインライン要素なので下に空白ができる*/
  border:0;
}
footer{
  background-color: #000;
  color:#fff;
  font-family: serif;
  font-size: 14px;
  line-height: 3;
  width:100%;
  text-align: center;
}
footer span{
  font-family: sans-serif;
  color:orange;
}

/* ここからPC向け */
.pc_menu{display: none;}
@media(min-width:600px){
  .pc_menu{
    display: block;
    margin-left:auto;
    block-size: 40px;
  }
  .pc_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .pc_menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 180px;
    line-height: 40px;
    font-family: serif;
  }
  .pc_menu a:hover{background-color: #333;}
  #phone_menu{display: none;}
  .title img{
    top:30%;
    width:30%;
  }
  .welcome{
    display: flex;
    border-bottom: solid 20px #000;
  }
  .welcome .text{
    width:60%;
    border-right:solid 20px #000;
    border-left:solid 20px #000;
    border-bottom:0;
  }
    h1{
    font-size: 36px;
    padding: 12px;
    }
    p{
      font-size: 24px;
      padding: 12px;
    }
  .welcome p{
    font-size: 24px;
    padding-top:30px;
   }
  .welcome img{
    width:40vw;
    height: auto;
    border-right:solid 20px #000;
  }
  .Foods{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: solid 20px #000;
  }
  .Foods .text{
    width:60%;
    border-right:solid 20px #000;
    border-left:solid 20px #000;
  }
  fieldset{
    margin:20px;
  }
  fieldset legend{
    font-size: 24px;
  }
  fieldset ul li{
    font-size: 24px;
    padding-top:30px;
  }
  .Foods img{
    width: 40vw;
    height: auto;
    border-left:solid 20px #000;
    border-top:0;
  }
  .access{
    display: flex;
    justify-content: flex-end;
  }
  .access .text{
    width:60%;
    border-right:solid 20px #000;
    border-left:solid 20px #000;
  }
  iframe.map{
    width:40vw;
    height:35vw;  /*少し横長にしたい*/
    border-right: solid 20px #000;
   }
  footer{
    font-size: 24px; 
  }
}